@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.slide{
    width: 100%;
    min-height: 100vh;
}

#home{
    background-color: #a9a9a9;
}

#etablissement{
    background-color: #ffffff;
}

#contact{
    background-color: #630CC9;
}

header{
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header a{
    color: white;
    text-decoration: none;
}

#advert{
    height: 40px;
    width: 100%;
    background-color: #630CC9;
}

.head{
    background-color: #7C18B0;
    padding: 20px 0;
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.info{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#logo{
    font-size: 24px;
    font-weight: 700;
}

.head nav{
    width: 20%;
}

.head nav ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

#burger{
    display: none;
    width: 40px;
    cursor: pointer;
}

#burger .bar{
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    margin: 8px 0;
    transition: all 0.8s;
}

.open .bar:nth-child(1){
    transform: translate(0,10px) rotate(-45deg);
}

.open .bar:nth-child(2)
{
    opacity: 0;
}

.open .bar:nth-child(3){
    transform: translate(0,-12px) rotate(45deg);
}

#menu-mobile{
    width: 100%;
    height: 100vh;
    background-color: #7C18B0;
    color: white;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
}

.open-menu{
    left: 0 !important;
}

#menu-mobile nav ul{
    list-style: none;
}

#menu-mobile nav ul li{
    margin: 30px 0;
    text-align: center;
}

#menu-mobile nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
   
}

#etablissement h2{
    margin: 15px 0;
}

.container-grid{
    width: 90%;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 15px;
    padding: 15px 0;
}

.card{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.468);
    border-radius: 10px;
    overflow: hidden;
}

.card .image{
    width: 100%;
    height: 300px;
}

.card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.texte{
    padding: 15px;
}

.texte h2, .texte p{
    margin-bottom: 15px;
}

.btn{
    display: block;
    width: fit-content;
    padding: 5px 15px;
    background-color: #630CC9;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.texte span{
    width: 200px;
    background-color: red;
}

#more{
    margin: 30px auto;
}

/********************************************************/
/************************* Contact ***************/

#contact{
    background-color: #630CC9;
    display: flex;
    flex-wrap: wrap;
   
}

#contact .gauche{
    width: 40%;
    background-color: #7C18B0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding-bottom: 20px;
}

#contact .droite{
    width: 60%;
    background-color: #630CC9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.container-contact{
    width: 60%;
    padding: 20px;
}

.mycontact{
    background-color: #D9D9D9;
    width: 100%;
    padding: 60px 30px;
    position: relative;
    left: 30%;
}

.mycontact h2{
    margin-bottom: 20px;
    font-size: 30px;
    position: relative;
    right: 20%;
}

.contact-social{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.c-social{
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
}

#formulaire{
    width: 60%;
}

.name{
    display: flex;
    gap: 0 20px;
}

.name .form-group{
    width: 50%;
}


.form-group{
    border: solid 1px #000000;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 20px 0;
}


.form-group label{
    display: block;
    color: #AFAEAE;
    margin-bottom: 10px;
    font-size: 18px;
}

.form-group input, .form-group textarea{
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    width: 100%;
    border: none;
    font-size: 19px;
}

.form-group textarea{
    resize: none;
    height: 200px;
}

.form-group input:focus, .form-group textarea:focus{
    outline: none;
    border-bottom: solid 1px #ffffff;
}

.submit{
    display: flex;
    justify-content: end;
}

.submit input{
    background-color: #12D1EA;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    width: fit-content;
    padding: 5px 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

/********************** footer **************/

footer{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background-color: #35066B;
}




/****************** SchoolPage *************/

.school .container-info{
    padding-top: 120px;
}

.school .container{
    display: flex;
    flex-wrap: wrap;
}

.school .container .gauche, .school .container .droite{
    width: 50%;
}

.school .container .gauche .img img{
    width: 100%;
}

.school .container .text{
    padding: 15px;
}

.school h3{
    margin: 15px 0;
}

#galimg .container{
    display: block;
}

#galimg{
    padding-bottom: 50px;
}

.swiper {
    width: 500px;
    height: 300px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/*********** Schools Page **************/

.category-header{
    width: 90%;
    margin: 0 auto;
}

.container-flex{
    display: flex;
    width: fit-content;
    gap: 15px;
    margin: 15px 0;
}

#schools h1{
    margin-top: 120px;
}

.container-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#pagination{
    display: flex;
}

.cursor{
    flex: 1;
    display: block;
    padding: 10px;
    background-color: #7C18B0;
    color: gold;
    text-decoration: none;
}

.current-page{
    flex: 1;
    padding: 10px;
    outline: solid 1px #7C18B0;
}



@media all and (max-width: 1080px)
{
    .head nav{
        display: none;
    }

    #burger{
        display: block;
    }

    #contact .gauche, #contact .droite{
        width: 100%;
    }

    #contact .gauche{
        justify-content: center;
    }

    .mycontact{
        left: 0;
    }
}

@media all and (max-width: 500px)
{
    #advert{
        height: auto;
        padding: 5px 0;
        display: none;
    }
    #formulaire{
        width: 90%;
    }

    .name{
        flex-wrap: wrap;
    }
    
    .name .form-group{
        width: 100%;
    }

    .submit{
        justify-content: center;
    }
}